@model TripDetailsViewModel
<div class="container z-depth-3">
    <div id="map" class="col l12" style="height:300px"></div>
    <div class="row">
        <h3 class="col s11 offset-s1">
            <span id="origin">@Model.OriginName</span> - <span id="destination">@Model.DestinationName</span>

        </h3>
        <div class="col s12">
            <div class="col s6">
                <span class="date" title="дата на погегляне">
                    <i class="material-icons">today</i>
                    @Model.TimeOfDeparture.Date.ToString("dd MMMM, yyyy")
                </span>
                <span class="time" title="час на потегляне">
                    <i class="material-icons">query_builder</i>
                    @Model.TimeOfDeparture.Date.ToString("HH:mm")
                </span>
                <span class="seats" title="места">
                    <i class="material-icons">perm_identity</i>
                    @Model.TakenSeats/@Model.TotalSeats
                </span>
                <span>
                    <i class="material-icons" title="цена">loyalty</i>
                    цена @Model.Price лева
                </span>
                <section class="tags-container">
                    @foreach (var tag in Model.Tags)
                    {
                        <div class="chip">#@tag.Name</div>
                    }
                </section>
                <section id="join-trip-btn-container" class="col s9 offset-s2">
                    @if (this.User.Identity.IsAuthenticated)
                    {
                        if (Model.IsCurrentUserOwner)
                        {
                            @Html.ActionLink("Приключи пътуването", nameof(TripController.MarkTripAsFinished), new { tripId = Model.Id }, new { @class = "btn red" });
                        }
                        else if (Model.TakenSeats >= Model.TotalSeats && !Model.IsCurrentUserPassangerInTheTrip)
                        {
                            <a href="!#" class="btn red disabled">Няма налични места</a>
                        }
                        else
                        {
                            @Html.Action(nameof(TripController.JoinBtn), new { tripId = Model.Id });
                        }
                    }
                </section>

            </div>
            <div class="col s6">
                <div class="col s6">
                    @Html.Partial("_CarAssignedToTravel", Model.Car)
                </div>
                <div class="col s6">
                    <h5>Шофьор</h5>
                    @Html.Partial("_UserBanner", Model.Driver)
                </div>
                <div class="trip-description col s12">
                    <h5>Описание</h5>
                    <p>
                        @Model.Description
                    </p>
                </div>
                <span class="report-button col s3 offset-s9">
                    <i class="material-icons">warning</i>
                    <a href="#" class="large material-icons">Докладвай</a>
                </span>
            </div>
        </div>
    </div>
    <hr />
    @if (this.User.Identity.IsAuthenticated)
    {
        <section class="row">
            <h4 class="center-align">Отзиви за шофьора</h4>
            @Html.Action(nameof(ReviewController.GetPostComment), "Review", new { reviewFor = Model.Driver.Id })
            <section id="comments">
                @Html.Action(nameof(ReviewController.CommentsForUser), "Review", new { userId = Model.Driver.Id })
            </section>
        </section>
    }
</div>
@section scripts{
    <script>
        function initMap() {
            var directionsService = new google.maps.DirectionsService;
            var directionsDisplay = new google.maps.DirectionsRenderer;
            var map = new google.maps.Map(document.getElementById('map'), {
                zoom: 7,
                center: { lat: 41.85, lng: -87.65 }
            });
            directionsDisplay.setMap(map);

            calculateAndDisplayRoute(directionsService, directionsDisplay);

        }

        function calculateAndDisplayRoute(directionsService, directionsDisplay) {
            directionsService.route({
                origin: document.getElementById('origin').innerText,
                destination: document.getElementById('destination').innerText,
                travelMode: 'DRIVING'
            }, function (response, status) {
                if (status === 'OK') {
                    directionsDisplay.setDirections(response);
                } else {
                    window.alert('Directions request failed due to ' + status);
                }
            });
        }
    </script>
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAmM0B0JfIJKoF6KQfUfotRFcmzvI4Qn3w&callback=initMap">
    </script>
}
