@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <ul class="right hide-on-med-and-down">
            <li>
                <a href="@Url.Action("Index","Manage")" class="valign-wrapper">
                    <img class="circle valign logged-user-avatar" src="~/UserAvatars/default.png" />
                    <span class="logged-user-username">@this.User.Identity.Name</span>
                </a>
            </li>
            <li><a href="javascript:document.getElementById('logoutForm').submit()">Изход</a></li>
        </ul>
    }
}
else
{
    <ul class="right hide-on-med-and-down">
        <li>@Html.ActionLink("Регистрация", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Вход", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
