@model string

@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()
        <ul id="drop-down-menu" class="dropdown-content">
            <li>@Html.ActionLink("Регистриране на автомобил", nameof(ManageController.RegisterCar), "Manage", new { area = "" }, null)</li>
            <li>@Html.ActionLink("Смяна на аватар", nameof(ManageController.ChangeAvatar), "Manage", new { area = "" }, null)</li>
            <li><a href="javascript:document.getElementById('logoutForm').submit()">Изход</a></li>
        </ul>
        <ul id="logged-user-avatar-menu" class="right hide-on-med-and-down">
            <li>
                <a href="#!" class="valign-wrapper dropdown-button" data-activates="drop-down-menu">
                    <span class="logged-user-username">@this.User.Identity.Name</span>
                    <img class="circle logged-user-avatar" src="@Model" />
                </a>
            </li>
        </ul>
    }
}
else
{
    <ul class="right hide-on-med-and-down valign">
        <li>@Html.ActionLink("Регистрация", "Register", "Account", routeValues: new { area = "" }, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Вход", "Login", "Account", routeValues: new { area = "" }, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
