<div id="home-picture-container">
    <div class="row">
        <div class="center-align">
            <h1>BrumWithMe</h1>
            <h4>Порталът за споделено пътуване, който предлага повече!</h4>
            @if (this.User.Identity.IsAuthenticated)
            {
                @Html.ActionLink("Dashboard", nameof(DashboardController.Index), "Dashboard", null, new { @class = "btn", autocomplete = "off" })
            }
            else
            {
                @Html.ActionLink("Регистрация", nameof(AccountController.Register), "Account", null, new { @class = "btn", autocomplete = "off" })
            }
            <section class="quick-travel-search">
                @Html.Action(nameof(SearchController.Search), "Search")
            </section>
        </div>
    </div>
</div>

<div class="container">
    @Html.Action(nameof(TripController.RecentTrips), "Trip")
</div>

@section Scripts{
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/cities-autocomplete")
}
