@model RegisterCarViewModel
<section class="container">
    <section class="row shadow-container z-depth-3">
        <h4 class="center-align">Регистриране на автомобил</h4>
        @using (Html.BeginForm(nameof(ManageController.RegisterCar), "Manage", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()

            <div class="input-field col s6">
                <label for="make">Марка</label>
                @Html.TextBoxFor(m => m.Make, new { @class = "validate" })
                @Html.ValidationMessageFor(m => m.Make, "", new { @class = "validation-error" })
            </div>
            <div class="input-field col s6">
                <label for="model">Модел</label>
                @Html.TextBoxFor(m => m.Model, new { @class = "validate" })
                @Html.ValidationMessageFor(m => m.Model, "", new { @class = "validation-error" })
            </div>
            <div class="input-field col s6">
                <label for="year">Година</label>
                @Html.TextBoxFor(m => m.Year, new { @class = "validate", type = "number" })
                @Html.ValidationMessageFor(m => m.Year, "", new { @class = "validation-error" })
            </div>
            <div class="input-field col s6">
                <label for="color">Цвят</label>
                @Html.TextBoxFor(m => m.Color, new { @class = "validate" })
                @Html.ValidationMessageFor(m => m.Color, "", new { @class = "validation-error" })
            </div>
            <div class="file-field input-field col s6">
                <div class="btn">
                    <span>File</span>
                    <input type="file" name="CarAvatar">
                </div>
                <div class="file-path-wrapper">
                    <input class="file-path validate" type="text">
                </div>
            </div>
            <div class="input-field col s6">
                <input type="submit" value="Добави автомобил" class="btn" />
            </div>
        }
    </section>
</section>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}