@model IEnumerable<BrumWithMe.Data.Models.CompositeModels.Trip.PassangerInfo>

<table class="users-in-trip">
    <thead>
        <tr>
            <th data-field="id">Име</th>
            <th data-field="name">Статус</th>
            <th data-field="price">Действие</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.Name</td>
                <td>@user.Status</td>
                <td>

                    @if (@*Model.TakenSeats < Model.TotalSeats && *@ user.Status != "Accepted")
                    {
                        @Ajax.ActionLink("done", nameof(DashboardController.AcceptUserInTrip),
                                                 new { userId = user.Id, tripId = user.TripId },
                                                 new AjaxOptions() { HttpMethod = "POST", UpdateTargetId = "trip-" + @user.TripId },
                                                 new { @class = "btn small material-icons" })
                    }
                    @Ajax.ActionLink("not_interested", nameof(DashboardController.RejectUserInTrip),
                                        new { userId = user.Id, tripId = user.TripId },
                                        new AjaxOptions() { HttpMethod = "POST", UpdateTargetId = "trip-" + @user.TripId },
                                        new { @class = "btn red small material-icons" })
                </td>
            </tr>
        }
    </tbody>
</table>

