@model BrumWithMe.Data.Models.CompositeModels.Trip.TripInfoWithUserRequests
<section class="card small col s4">
    <div class="card-content col s12">
        <span class="card-title activator grey-text text-darken-4">
            @Model.OriginName - @Model.DestinationName
            <i class="material-icons right">more_vert</i>
        </span>
        <a href="/trip/tripdetails/@Model.Id">
            <div>
                <div class="card-image waves-effect waves-block waves-light mytrip-car-image">
                    <img class="activator" src="@Model.CarAvatarImage">
                </div>
                <div class="col s8 offset-s2">
                    <span class="date" title="Дата на погегляне"><i class="material-icons">today</i> @Model.TimeOfDeparture.ToString("dd.MMM")</span>
                    <span class="time" title="Час на потегляне"><i class="material-icons">query_builder</i> @Model.TimeOfDeparture.ToString("hh.mm")</span>
                </div>
                <div class="col s8 offset-s2">
                    <span class="seats" title="Места">
                        <i class="material-icons">perm_identity</i> @Model.TakenSeats/@Model.TotalSeats
                    </span>
                    <span class="seats" title="Места">
                        <i class="material-icons">loyalty</i> $@Model.Price
                    </span>
                </div>
            </div>
        </a>
    </div>
    <div class="card-reveal">
        <span class="card-title grey-text text-darken-4">
            @Model.OriginName - @Model.DestinationName
            <i class="material-icons right">close</i>
        </span>
        <table class="users-in-trip">
            <thead>
                <tr>
                    <th data-field="id">Име</th>
                    <th data-field="name">Статус</th>
                    <th data-field="price">Действие</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var user in Model.Passangers)
                {
                    <tr>
                        <td>@user.Name</td>
                        <td>@user.Status</td>
                        <td>
                            @if (Model.TakenSeats < Model.TotalSeats && user.Status != "Accepted")
                            {
                                @Ajax.ActionLink("done", nameof(DashboardController.AcceptUserInTrip),
                                                 new { userId = user.Id, tripId = Model.Id },
                                                 new AjaxOptions() { HttpMethod = "POST", UpdateTargetId = "trip-" + @Model.Id },
                                                 new { @class = "btn small material-icons" })
                            }
                            @Ajax.ActionLink("not_interested", nameof(DashboardController.RejectUserInTrip),
                                        new { userId = user.Id, tripId = Model.Id },
                                        new AjaxOptions() { HttpMethod = "POST", UpdateTargetId = "trip-" + @Model.Id },
                                        new { @class = "btn red small material-icons" })
                        </td>
                    </tr>
                }
            </tbody>
        </table>

    </div>
</section>
